<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
  <input class="btn btn-outline-secondary" type="button" id="button-send" onclick="button_click();" value="주사위 던지기">

  <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</div>

<script layout:fragment="script" type='text/javascript'>
  var stompClient = null;
  var roomId = "[[${ gameResponse.roomId }]]";

  console.log('room info : ' + roomId);

  function connect() { // 생성된 소켓과 연결
    var socket = new SockJS('/ws');
    stompClient = Stomp.over(socket);

    stompClient.connect({}, function (frame) {

      console.log('Connected: ' + frame);

      // 구독 기능을 통해 해당 주소에 메세지가 오면 로그 출력
      stompClient.subscribe('/topic/qwixx/' + roomId, function (message) {
        console.log(message.body);
      });
    });
  }

  function button_click() {
    stompClient.send('/pub/qwixx/roll', {}, JSON.stringify({roomId: roomId, data: "data", sender: "user"}));
  }

  function disconnect() { // 연결 종료
    if (stompClient !== null) {
      stompClient.disconnect();
    }
    console.log("Disconnected");
  }

  //창을 열고 닫을 때 연결과 해제 
  window.onload = function () {
    connect();
  }

  window.BeforeUnloadEvent = function () {
    disconnect();
  }
</script>
</html>